<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	
	<!-- dao -->
	<bean id="orderDao" class="lin.linorder.dao.order.OrderDao" abstract="false"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="sessionFactory" >
			<ref bean="sessionFactory"/>
		</property>
	</bean>
	
	<!-- service -->
	<bean id="orderService" class="lin.linorder.service.order.OrderService"  scope="prototype">
        <property name="orderDao">
           <ref bean="orderDao" />
        </property>
    </bean>
    
	<!-- action -->
	<bean id="orderAction" class="lin.linorder.action.order.OrderAction"  scope="prototype">
        <property name="orderService">
           <ref bean="orderService" />
        </property>
        <property name="order">
           <ref bean="order" />
        </property>
    </bean>
    <bean id="orderShowAction" class="lin.linorder.action.order.OrderShowAction"  scope="prototype">
        <property name="orderService">
           <ref bean="orderService" />
        </property>
        <property name="orderList">
           <ref bean="orderList" />
        </property>
    </bean>
    <bean id="orderListShowAction" class="lin.linorder.action.order.OrderListShowAction"  scope="prototype">
        <property name="orderService">
           <ref bean="orderService" />
        </property>
        <property name="order">
           <ref bean="order" />
        </property>
    </bean>
     <bean id="orderChuiShowAction" class="lin.linorder.action.order.OrderChuiShowAction"  scope="prototype">
        <property name="orderService">
           <ref bean="orderService" />
        </property>
        <property name="orderChui">
           <ref bean="orderChui" />
        </property>
    </bean>
    <bean id="addOrderAction" class="lin.linorder.action.order.AddOrderAction"  scope="prototype">
        <property name="orderService">
           <ref bean="orderService" />
        </property>
        <property name="order">
           <ref bean="order" />
        </property>
    </bean>
     <bean id="addOrderNumAction" class="lin.linorder.action.order.AddOrderNumAction"  scope="prototype">
        <property name="orderService">
           <ref bean="orderService" />
        </property>
        <property name="orderList">
           <ref bean="orderList" />
        </property>
    </bean>
    <bean id="chuiOrderNumAction" class="lin.linorder.action.order.ChuiOrderNumAction"  scope="prototype">
        <property name="orderService">
           <ref bean="orderService" />
        </property>
        <property name="orderChui">
           <ref bean="orderChui" />
        </property>
    </bean>
    <bean id="deleteOrderAction" class="lin.linorder.action.order.DeleteOrderAction"  scope="prototype">
        <property name="orderService">
           <ref bean="orderService" />
        </property>
        <property name="order">
           <ref bean="order" />
        </property>
    </bean>
    <bean id="deleteOrderAllAction" class="lin.linorder.action.order.DeleteOrderAllAction"  scope="prototype">
        <property name="orderService">
           <ref bean="orderService" />
        </property>
        <property name="order">
           <ref bean="order" />
        </property>
    </bean>
    <bean id="deleteTableNumAction" class="lin.linorder.action.order.DeleteTableNumAction"  scope="prototype">
        <property name="orderService">
           <ref bean="orderService" />
        </property>
        <property name="orderList">
           <ref bean="orderList" />
        </property>
    </bean>
	<!-- models -->
	<bean id="order" class="lin.linorder.models.order.Order"  scope="prototype">
	</bean> 
	<bean id="orderList" class="lin.linorder.models.order.OrderList"  scope="prototype">
	</bean> 
	<bean id="orderChui" class="lin.linorder.models.order.OrderChui"  scope="prototype">
	</bean>
</beans>