<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	
	<!-- dao -->
	<bean id="payDao" class="lin.linorder.dao.pay.PayDao" abstract="false"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="sessionFactory" >
			<ref bean="sessionFactory"/>
		</property>
	</bean>
	
	<!-- service -->
	<bean id="payService" class="lin.linorder.service.pay.PayService"  scope="prototype">
        <property name="payDao">
           <ref bean="payDao" />
        </property>
    </bean>
    
	<!-- action -->
	<bean id="payAction" class="lin.linorder.action.pay.PayAction"  scope="prototype">
        <property name="payService">
           <ref bean="payService" />
        </property>
        <property name="pay">
           <ref bean="pay" />
        </property>
    </bean>
    <bean id="payShowAction" class="lin.linorder.action.pay.PayShowAction"  scope="prototype">
        <property name="payService">
           <ref bean="payService" />
        </property>
        <property name="pay">
           <ref bean="pay" />
        </property>
    </bean>
    <bean id="addPayAction" class="lin.linorder.action.pay.AddPayAction"  scope="prototype">
        <property name="payService">
           <ref bean="payService" />
        </property>
        <property name="pay">
           <ref bean="pay" />
        </property>
    </bean>
	<!-- models -->
	<bean id="pay" class="lin.linorder.models.pay.Pay"  scope="prototype">
	</bean> 
</beans>