<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	<!-- 普通JDBC连接，取代 hiberbnate.cfg.xml -->
	<bean id="candy" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName"
			value="com.mysql.jdbc.Driver">
		</property>
		<property name="url"
			value="jdbc:mysql://localhost:3306/lin_system?characterEncoding=utf-8">
		</property>
		<property name="username" value="root"></property>
		<property name="password" value=""></property>
	</bean>

	<!-- 取代HiberbnateSessionFactory.java -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<!-- 设置注入 -->
		<property name="dataSource">
			<ref bean="candy" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
				<prop key="hibernate.show_sql">
					true
				</prop>
			</props>
		</property>
		<!-- 说明映射文件 -->
		<property name="mappingResources">
			<list>
				<value>lin/linorder/models/Staff.hbm.xml</value>
				<value>lin/linorder/models/Province.hbm.xml</value>
				<value>lin/linorder/models/City.hbm.xml</value>
				
				<value>lin/linorder/models/goods/Food.hbm.xml</value>
				<value>lin/linorder/models/goods/FoodStyle.hbm.xml</value>
				
				<value>lin/linorder/models/user/User.hbm.xml</value>
				
				<value>lin/linorder/models/table/Table.hbm.xml</value>
				
				<value>lin/linorder/models/order/Order.hbm.xml</value>
				<value>lin/linorder/models/order/OrderList.hbm.xml</value>
				<value>lin/linorder/models/order/OrderChui.hbm.xml</value>
				
				<value>lin/linorder/models/pay/Pay.hbm.xml</value>
			
			</list>
		</property>
	</bean>
</beans>