<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	
	<!-- dao -->
	<bean id="foodDao" class="lin.linorder.dao.goods.FoodDao" abstract="false"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="sessionFactory" >
			<ref bean="sessionFactory"/>
		</property>
	</bean>
	<bean id="foodStyleDao" class="lin.linorder.dao.goods.FoodStyleDao" abstract="false"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="sessionFactory" >
			<ref bean="sessionFactory"/>
		</property>
	</bean>
	
	
	<!-- service -->
	<bean id="foodService" class="lin.linorder.service.goods.FoodService"  scope="prototype">
        <property name="foodDao">
           <ref bean="foodDao" />
        </property>
    </bean>
    <bean id="foodStyleService" class="lin.linorder.service.goods.FoodStyleService"  scope="prototype">
        <property name="foodStyleDao">
           <ref bean="foodStyleDao" />
        </property>
    </bean>
    
    
	<!-- action -->
	<bean id="foodAction" class="lin.linorder.action.goods.FoodAction"  scope="prototype">
        <property name="foodService">
           <ref bean="foodService" />
        </property>
        <property name="food">
           <ref bean="food" />
        </property>
    </bean>
    <bean id="foodShowAction" class="lin.linorder.action.goods.FoodShowAction"  scope="prototype">
        <property name="foodService">
           <ref bean="foodService" />
        </property>
        <property name="food">
           <ref bean="food" />
        </property>
    </bean>
    <bean id="foodStyleAction" class="lin.linorder.action.goods.FoodStyleAction"  scope="prototype">
        <property name="foodStyleService">
           <ref bean="foodStyleService" />
        </property>
        <property name="foodStyle">
           <ref bean="foodStyle" />
        </property>
    </bean>
      <bean id="foodStyleShowAction" class="lin.linorder.action.goods.FoodStyleShowAction"  scope="prototype">
        <property name="foodStyleService">
           <ref bean="foodStyleService" />
        </property>
        <property name="foodStyle">
           <ref bean="foodStyle" />
        </property>
    </bean>
    
	<!-- models -->
	<bean id="food" class="lin.linorder.models.goods.Food"  scope="prototype">
	</bean> 
	<bean id="foodStyle" class="lin.linorder.models.goods.FoodStyle"  scope="prototype">
	</bean> 
	
</beans>